<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<%= link_to 'TradeIt', root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Products', products_path, class:"nav-link" %>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% if session[:cart_id] %>
          <%= link_to 'Cart', cart_path(session[:cart_id]), class:"nav-link" %>
        <% end %>
      </li>
    </ul>

  </div>
</nav>